.container
{
  width: 100%;
  height: 100%;
  background: #484c6b;
  border-radius: 20px;
}
.menu ul{
  display: inline-flex;
  margin: 50px;

}
.menu ul li{
  list-style: none;
  margin: 0 20px;
  color: #b2b1b1;
  cursor: pointer;
}
.logo img{
  width: 30px;
  margin-top: -7px;
  margin-right: 48px;
}
.active{
  color: #19dafa !important;
}
.signupbtn{
  top: 40px;
  right: 80px;
  position: absolute;
  text-decoration: none;
  color: grey;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(white,white),radial-gradient(circle at top left,#fd00da,#19d7f8);
  background-origin: border-box;
  background-clip: content-box,border-box;
}
.signupbtn span{
  display: block;
  padding: 8px 22px;
}
.banner /* your intro*/{
  width: 80%;
  height: 70%;
  top: 25%;
  left: 130px;
  position: absolute;
}
.app-text{
  width: 50%;
  float: left;
}
.app-text h1{
  font-size: 43px;
  width: 640px;
  position: relative;
  margin-left: 40px;
  color: #706d6d;
}
.app-text p{
  width: 650px;
  font-size: 15px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #919191;
}
.app-pic{
  width: 50%;
  float: right;
}
.app-pic img{
  width: 600px;
  height: 400px;
  border-radius: 10px;
}
.playbtn{
  margin-left: 40px;
  display: inline-flex;
}
.playbtninner{
  height: 50px;
  width: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(white,white),radial-gradient(circle at top left,#fd00da,#19d7f8);
  background-origin: border-box;
  background-clip: content-box,border-box;
  text-align: center;
}
.playbtninner .fa{
  padding: 18px 0;
  font-size: 13px;
  cursor: pointer;
}
small{
  margin: auto 20px;
  cursor: pointer;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 3px;
  color: #19dafa;
}
.whole{
  width: 100%;
  height: 100%;
  background: #484c6b;
  border-radius: 20px;

}
